name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  # linux-build:
  #   runs-on: ubuntu-latest
  #   steps:
  #   - uses: actions/checkout@v3
  #   - name: Install Conan 2.0
  #     run: pip install conan
  #   - name: Autodetect a default conan profile
  #     run: conan profile detect --name=default
  #   - name: Install Conan GCC 15 package
  #     run: conan install --requires=gcc/15.1.0 --build=gcc/15.1.0 --build=isl/0.26 --build=mpc/1.2.0 --build=mpfr/4.2.0 --build=binutils/2.42 --build=flex/2.6.4 --build=bison/3.8.2 --build=gmp/6.3.0 --build=zlib/1.3.1
  #   - name: Modify the default conan profile
  #     run: python .github/workflows/edit_conan_profile.py $(conan profile path default) settings:compiler=gcc settings:compiler.version=15 settings:compiler.cppstd=26 tool_requires:gcc/15.1.0
  #   - name: Build and run unit tests
  #     run: make CONAN_PROFILE=default

  windows-build:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - name: Install Conan 2.0
      run: pip install conan
    - name: Autodetect a default conan profile
      run: conan profile detect --name=default
    - name: Modify the default conan profile
      run: python .github/workflows/edit_conan_profile.py $(conan profile path default) settings:compiler=gcc settings:compiler.cppstd=26 settings:compiler.version=15 settings:compiler.libcxx=libstdc++11 settings:compiler.threads=posix settings:compiler.exception=seh tool_requires:cmake/3.28.1 tool_requires:mingw-builds/15.1.0 [rm]settings:compiler.runtime  
    - name: Build and run unit tests
      run: make CONAN_PROFILE=default
