name: C/C++ CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  linux-build:
    runs-on: ubuntu-latest
    container:
      image: ubuntu:25.10
    steps:
    - uses: actions/checkout@v3
    - name: Update APT
      run: RUN apt-get update && apt-get upgrade -y
    - name: Install GCC-15 an CMake
      run: apt-get install -y gcc-15 cmake
    - name: Install Python and GCC-15
      run: apt install python3-pip && pip install conan
    - name: Install Conan 2.0
      run: apt install python3-pip && pip install conan
    - name: Autodetect a default conan profile
      run: conan profile detect --name=default
    - name: Build and run unit tests
      run: make CONAN_PROFILE=.github/workflows/gcc15_c++26

  # windows-build:
  #   runs-on: windows-latest
  #   steps:
  #   - uses: actions/checkout@v3
  #   - name: Install Conan 2.0
  #     run: pip install conan
  #   - name: Autodetect a default conan profile
  #     run: conan profile detect --name=default
  #   - name: Build and run unit tests
  #     run: make CONAN_PROFILE=.github/workflows/mingw15_c++26
